{
    "openapi": "3.0.0",
    "info": {
        "title": "Server API",
        "description": "API сайта",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://siveno.shop"
        }
    ],
    "paths": {
        "/api/addresses": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Получить все адреса пользователя",
                "operationId": "33ccea30443418dbab9242aa67931614",
                "responses": {
                    "200": {
                        "description": "Список адресов"
                    },
                    "401": {
                        "description": "Не авторизован"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Создать новый адрес",
                "operationId": "5549e34fec9817a9794302a767fc7fde",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "state",
                                    "city",
                                    "postal_code",
                                    "apartment",
                                    "street",
                                    "house"
                                ],
                                "properties": {
                                    "is_primary": {
                                        "type": "boolean"
                                    },
                                    "state": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "street": {
                                        "type": "string"
                                    },
                                    "house": {
                                        "type": "string"
                                    },
                                    "postal_code": {
                                        "type": "string"
                                    },
                                    "apartment": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Адрес создан"
                    },
                    "400": {
                        "description": "Ошибка валидации"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/addresses/primary": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Получить основной адрес пользователя",
                "operationId": "2307ac6fa575b8726883b3522acf80fe",
                "responses": {
                    "200": {
                        "description": "Основной адрес"
                    },
                    "404": {
                        "description": "Основной адрес не найден"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/addresses/{id}": {
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Обновить адрес",
                "operationId": "2f078db19c8d7e5a374faa4b048e4c45",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "is_primary": {
                                        "type": "boolean"
                                    },
                                    "state": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "street": {
                                        "type": "string"
                                    },
                                    "house": {
                                        "type": "string"
                                    },
                                    "postal_code": {
                                        "type": "string"
                                    },
                                    "apartment": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Адрес обновлен"
                    },
                    "403": {
                        "description": "Нет доступа"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Удалить адрес",
                "operationId": "3380f49103f9fb0f4a126d324894a33a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Адрес удален"
                    },
                    "403": {
                        "description": "Нет доступа"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Регистрация пользователя",
                "operationId": "8a56853624e025573120a09a4c75d468",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Успешная регистрация",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Вы успешно зарегестрировались"
                                        },
                                        "user": {
                                            "type": "object"
                                        },
                                        "access_token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Авторизация пользователя",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Успешный вход",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Вы вошли в аккаунт"
                                        },
                                        "user": {
                                            "type": "object"
                                        },
                                        "access_token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Неверные учетные данные",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Неверная почта или пароль"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Выход пользователя",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "responses": {
                    "200": {
                        "description": "Вы успешно вышли",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Вы вышли из аккаунта"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Пользователь не найден или не авторизован"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Получение профиля пользователя",
                "operationId": "d32e56b6274eb68e980da6d91fbe9fd8",
                "responses": {
                    "200": {
                        "description": "Информация о пользователе",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "example": "john@example.com"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-02-04T12:34:56Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-02-04T12:34:56Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Пользователь не авторизован"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/avatar": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Изменение аватара пользователя",
                "description": "Позволяет пользователю загрузить новый аватар.",
                "operationId": "27547e6cb7cb289559ffcbcb662bf55a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "avatar"
                                ],
                                "properties": {
                                    "avatar": {
                                        "description": "Файл изображения",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Аватар обновлен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "avatar_url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка загрузки файла"
                    },
                    "401": {
                        "description": "Не авторизован"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/password": {
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "Обновление пароля",
                "description": "Позволяет пользователю изменить свой пароль.",
                "operationId": "0a2d0350f37a0e08de86e1956f48a442",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "example": "oldpassword123"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Пароль обновлен"
                    },
                    "400": {
                        "description": "Ошибка валидации"
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "403": {
                        "description": "Текущий пароль не совпадает"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/loyalty": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Получение информации о лояльности",
                "description": "Возвращает текущий уровень лояльности пользователя и его скидку.",
                "operationId": "d7e2c1198a4b5fef91b3d2858c671eb6",
                "responses": {
                    "200": {
                        "description": "Информация о лояльности",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "level": {
                                            "type": "string",
                                            "example": "Gold"
                                        },
                                        "discount_percentage": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/profile": {
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "Обновление данных профиля",
                "description": "Позволяет пользователю изменить свои личные данные.",
                "operationId": "4a75ccb2b8a3aa3f7230a2a2dd1de04d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "surname": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+77011234567"
                                    },
                                    "avatar": {
                                        "description": "Файл изображения (jpeg, png, jpg, gif)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Профиль обновлен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Профиль обновлен"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации"
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "500": {
                        "description": "Ошибка сервера"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Получение всех категорий",
                "operationId": "3f5817a34833d0a1f4af4548dd3aeaba",
                "responses": {
                    "200": {
                        "description": "Список категорий",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Category"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Создание новой категории",
                "operationId": "71fcad552bb0eaba9fb191fd8d8dcab0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "slug",
                                    "title"
                                ],
                                "properties": {
                                    "slug": {
                                        "type": "string",
                                        "example": "smartphones"
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Смартфоны"
                                    },
                                    "parent_slug": {
                                        "type": "string",
                                        "example": "electronics",
                                        "nullable": true
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://example.com/category.jpg",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Категория создана"
                    },
                    "403": {
                        "description": "Доступ запрещен"
                    },
                    "422": {
                        "description": "Ошибка валидации"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories/{slug}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Получение информации о категории",
                "operationId": "388285a26637f27fd1a3701a8feaf934",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug категории",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация о категории",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Категория не найдена"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Обновление категории",
                "operationId": "4e2b6f574bea6adc2fe8140b42b84afa",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug категории",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Обновленная категория"
                                    },
                                    "parent_slug": {
                                        "type": "string",
                                        "example": "electronics",
                                        "nullable": true
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://example.com/category.jpg",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Категория обновлена"
                    },
                    "403": {
                        "description": "Доступ запрещен"
                    },
                    "404": {
                        "description": "Категория не найдена"
                    },
                    "422": {
                        "description": "Ошибка валидации"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Удаление категории",
                "operationId": "cc0a73dfff7acad27d1ee72fe027b5dc",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug категории",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Категория удалена"
                    },
                    "403": {
                        "description": "Доступ запрещен"
                    },
                    "404": {
                        "description": "Категория не найдена"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories/{slug}/parent": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Получение родительской категории",
                "operationId": "34ab26c5df954229029566238e8e7df3",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug категории",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Родительская категория",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Категория не найдена"
                    }
                }
            }
        },
        "/api/categories/{slug}/children": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Получение всех подкатегорий",
                "operationId": "7720699d64db72482ea0b8cafb856b90",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug категории",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список подкатегорий",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Category"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Категория не найдена"
                    }
                }
            }
        },
        "/api/categories/{id}/products": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Получить все товары категории и её подкатегорий",
                "operationId": "51e119cb91b10faf5102a6fdc20548eb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID категории",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список товаров",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Product"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Категория не найдена"
                    }
                }
            }
        },
        "/api/categories/on-sale": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Получение категорий со скидками",
                "operationId": "047215ca29d4eda1e8e50c1885f737f0",
                "responses": {
                    "200": {
                        "description": "Список категорий в распродаже",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Category"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Нет категорий в распродаж"
                    }
                }
            }
        },
        "/api/colors": {
            "get": {
                "tags": [
                    "Colors"
                ],
                "summary": "Получение списка всех цветов",
                "operationId": "9af5ded8d7143a0f97e53725eda97464",
                "responses": {
                    "200": {
                        "description": "Список цветов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Красный"
                                            },
                                            "code": {
                                                "type": "string",
                                                "example": "#FF0000"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Colors"
                ],
                "summary": "Создание нового цвета",
                "operationId": "e4d3770c69f36a71c5936b3b35655342",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "code"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Синий"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "#0000FF"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Цвет создан"
                    },
                    "422": {
                        "description": "Ошибка валидации"
                    }
                }
            }
        },
        "/api/colors/{id}": {
            "get": {
                "tags": [
                    "Colors"
                ],
                "summary": "Получение информации о конкретном цвете",
                "operationId": "c0e5a39d91e5093e2e0f77823615db5a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID цвета",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация о цвете"
                    },
                    "404": {
                        "description": "Цвет не найден"
                    }
                }
            },
            "put": {
                "tags": [
                    "Colors"
                ],
                "summary": "Обновление информации о цвете",
                "operationId": "717be7234f38d1fb4ff4678ba4f59581",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID цвета",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Зеленый"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "#00FF00"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Цвет обновлен"
                    },
                    "404": {
                        "description": "Цвет не найден"
                    },
                    "422": {
                        "description": "Ошибка валидации"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Colors"
                ],
                "summary": "Удаление цвета",
                "operationId": "1667d6964960e3a8158e80e50c69f19c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID цвета",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Цвет удален"
                    },
                    "404": {
                        "description": "Цвет не найден"
                    }
                }
            }
        },
        "/api/colors/{id}/products": {
            "get": {
                "tags": [
                    "Colors"
                ],
                "summary": "Получение всех продуктов, связанных с цветом",
                "operationId": "8e4e8ba54944cd1d7fd8dc9c129b1971",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID цвета",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список продуктов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Футболка"
                                            },
                                            "price": {
                                                "type": "number",
                                                "example": 19.989999999999998436805981327779591083526611328125
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Цвет не найден"
                    }
                }
            }
        },
        "api/delivery-services": {
            "get": {
                "tags": [
                    "DeliveryService"
                ],
                "summary": "Получить список служб доставки",
                "operationId": "2e3830aab3bf7b2a18dbf53a5ecb700f",
                "responses": {
                    "200": {
                        "description": "Список служб доставки"
                    }
                }
            },
            "post": {
                "tags": [
                    "DeliveryService"
                ],
                "summary": "Создать службу доставки",
                "operationId": "0abaf227a304c9ac62bd34a68b646e39",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeliveryService"
                            }
                        }
                    }
                },
                "responses": {
                    "302": {
                        "description": "Перенаправление после создания"
                    }
                }
            }
        },
        "api/delivery-services/create": {
            "get": {
                "tags": [
                    "DeliveryService"
                ],
                "summary": "Форма создания службы доставки",
                "operationId": "8a373770385c98c4df3015a44fa71771",
                "responses": {
                    "200": {
                        "description": "Форма создания"
                    }
                }
            }
        },
        "api/delivery-services/{deliveryService}/edit": {
            "get": {
                "tags": [
                    "DeliveryService"
                ],
                "summary": "Редактировать службу доставки",
                "operationId": "ce65456fabd85c46e353e7944118072a",
                "parameters": [
                    {
                        "name": "deliveryService",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Форма редактирования"
                    }
                }
            }
        },
        "api/delivery-services/{deliveryService}": {
            "put": {
                "tags": [
                    "DeliveryService"
                ],
                "summary": "Обновить службу доставки",
                "operationId": "98ff13913a73113d0785c180489f2127",
                "parameters": [
                    {
                        "name": "deliveryService",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeliveryService"
                            }
                        }
                    }
                },
                "responses": {
                    "302": {
                        "description": "Перенаправление после обновления"
                    }
                }
            },
            "delete": {
                "tags": [
                    "DeliveryService"
                ],
                "summary": "Удалить службу доставки",
                "operationId": "4fad95847f8ac33f67335182759d63f1",
                "parameters": [
                    {
                        "name": "deliveryService",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Перенаправление после удаления"
                    }
                }
            }
        },
        "/api/loyalty/use-points": {
            "post": {
                "tags": [
                    "Loyalty"
                ],
                "summary": "Списать баллы у пользователя",
                "operationId": "03683cdce3aa1136c669debffefe8fe0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "points"
                                ],
                                "properties": {
                                    "points": {
                                        "description": "Количество списываемых баллов",
                                        "type": "integer",
                                        "example": 100
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Баллы успешно списаны"
                    },
                    "400": {
                        "description": "Недостаточно баллов"
                    },
                    "401": {
                        "description": "Неавторизованный доступ"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/loyalty/earn-points": {
            "post": {
                "tags": [
                    "Loyalty"
                ],
                "summary": "Начислить баллы пользователю",
                "operationId": "3c1e1050aa8d0262057eb2c79c940316",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "points"
                                ],
                                "properties": {
                                    "points": {
                                        "description": "Количество начисляемых баллов",
                                        "type": "integer",
                                        "example": 50
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Баллы успешно начислены"
                    },
                    "401": {
                        "description": "Неавторизованный доступ"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/loyalty/points": {
            "get": {
                "tags": [
                    "Loyalty"
                ],
                "summary": "Получить общее количество баллов пользователя",
                "operationId": "311743b3f07ee2af9564257be204c475",
                "responses": {
                    "200": {
                        "description": "Общее количество баллов"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/loyalty/points-history": {
            "get": {
                "tags": [
                    "Loyalty"
                ],
                "summary": "Получить историю операций с баллами",
                "operationId": "13a2a16af27da436f407e60ce8175969",
                "responses": {
                    "200": {
                        "description": "История операций с баллами"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/loyalty/level": {
            "get": {
                "tags": [
                    "Loyalty"
                ],
                "summary": "Получить уровень лояльности пользователя",
                "operationId": "ee44e7994692e32733b0466dba02216a",
                "responses": {
                    "200": {
                        "description": "Текущий уровень лояльности"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/loyalty/apply-discount": {
            "post": {
                "tags": [
                    "Loyalty"
                ],
                "summary": "Применить скидку за баллы и уровень",
                "operationId": "a35cfb71e01e0f7eb718f9b6dbf01341",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "total_amount"
                                ],
                                "properties": {
                                    "total_amount": {
                                        "description": "Сумма заказа",
                                        "type": "integer",
                                        "example": 1000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Скидка успешно применена"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Получение всех заказов пользователя",
                "description": "Возвращает список всех заказов текущего пользователя.",
                "operationId": "2cd7e03021e72d9d799c12dfe179c865",
                "responses": {
                    "200": {
                        "description": "Список заказов"
                    },
                    "401": {
                        "description": "Не авторизован"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Создание заказа",
                "description": "Создает заказ для авторизованного пользователя с оплатой через YooKassa. Заказ создается со статусом 'awaiting_payment'. Дополнительно можно задать способ доставки: 'russianpost' или 'cdek'.",
                "operationId": "storeOrder",
                "requestBody": {
                    "description": "Данные для создания заказа",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "address_id",
                                    "items",
                                    "delivery",
                                    "delivery_type"
                                ],
                                "properties": {
                                    "address_id": {
                                        "description": "ID адреса доставки",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "items": {
                                        "description": "Список товаров заказа",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "product_id",
                                                "size_id",
                                                "quantity"
                                            ],
                                            "properties": {
                                                "product_id": {
                                                    "description": "ID продукта",
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "size_id": {
                                                    "description": "ID размера",
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "quantity": {
                                                    "description": "Количество товара",
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "delivery": {
                                        "description": "Тип доставки (например, express)",
                                        "type": "string",
                                        "example": "express"
                                    },
                                    "delivery_type": {
                                        "description": "Служба доставки: 'russianpost' или 'cdek'",
                                        "type": "string",
                                        "enum": [
                                            "russianpost",
                                            "cdek"
                                        ],
                                        "example": "russianpost"
                                    },
                                    "use_loyalty_points": {
                                        "description": "Флаг использования бонусных баллов",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "payment_method": {
                                        "description": "Метод оплаты: 'yookassa' - через YooKassa",
                                        "type": "string",
                                        "enum": [
                                            "yookassa"
                                        ],
                                        "example": "yookassa"
                                    },
                                    "promo_code": {
                                        "description": "Опциональный промокод для скидки",
                                        "type": "string",
                                        "example": "SALE2023",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Заказ успешно создан",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order": {
                                            "description": "Объект созданного заказа",
                                            "type": "object"
                                        },
                                        "payment": {
                                            "description": "Объект созданного платежа, содержащий transaction_id, полученный от API YooKassa",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "order_id": {
                                                    "type": "integer",
                                                    "example": 50
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1500.75
                                                },
                                                "currency": {
                                                    "type": "string",
                                                    "example": "RUB"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "payment_method": {
                                                    "type": "string",
                                                    "example": "yookassa"
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "yookassa_5f8c9e7a6b8f7"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "discount_applied": {
                                            "description": "Информация о примененной скидке",
                                            "properties": {
                                                "final_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1500.75
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные данные запроса или логическая ошибка (например, сумма заказа после скидки равна 0)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Список товаров пуст"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Не авторизован"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Ошибка валидации входящих данных",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка сервера или ошибка при инициализации платежа через YooKassa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Ошибка сервера"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Подробное описание ошибки"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/orders/{id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Получение конкретного заказа",
                "description": "Возвращает информацию о заказе пользователя с товарами и адресом.",
                "operationId": "c29621029e70f65247909d3e09031118",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID заказа",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация о заказе",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 123
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "total_price": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 2500.75
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "pending"
                                        },
                                        "delivery": {
                                            "type": "string",
                                            "example": "express"
                                        },
                                        "payment_id": {
                                            "type": "integer",
                                            "example": 45,
                                            "nullable": true
                                        },
                                        "delivery_service_id": {
                                            "type": "integer",
                                            "example": 3,
                                            "nullable": true
                                        },
                                        "delivery_service_1c": {
                                            "type": "string",
                                            "example": "CDEK-1C-XX",
                                            "nullable": true
                                        },
                                        "pickup_point_id": {
                                            "type": "integer",
                                            "example": 5,
                                            "nullable": true
                                        },
                                        "pickup_point_1c": {
                                            "type": "string",
                                            "example": "PP-1C-001",
                                            "nullable": true
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "product_id": {
                                                        "type": "integer",
                                                        "example": 101
                                                    },
                                                    "size_id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 999.990000000000009094947017729282379150390625
                                                    },
                                                    "product": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 101
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Кроссовки Adidas"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "size": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "label": {
                                                                "type": "string",
                                                                "example": "42"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "address": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Алматинская область"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Алматы"
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "Абая"
                                                },
                                                "house": {
                                                    "type": "string",
                                                    "example": "12"
                                                },
                                                "apartment": {
                                                    "type": "string",
                                                    "example": "45",
                                                    "nullable": true
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "050000"
                                                },
                                                "full_address": {
                                                    "type": "string",
                                                    "example": "Алматы, ул. Абая, д. 12, кв. 45"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "404": {
                        "description": "Заказ не найден"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/orders/webhook": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Webhook для обработки платежей",
                "description": "Обрабатывает уведомления от YooKassa и обновляет статус заказа.",
                "operationId": "a5a6dfa9256ce4e1dffc5908783d849c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "object": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "2a3b5c7d-1234-5678-9abc-def012345678"
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "shipped"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Статус платежа обновлен"
                    },
                    "400": {
                        "description": "Некорректный запрос"
                    },
                    "404": {
                        "description": "Заказ не найден"
                    }
                }
            }
        },
        "/api/orders/{orderId}/cancel": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Отмена заказа",
                "description": "Позволяет пользователю отменить заказ, если он еще не обработан.",
                "operationId": "f6191fd2885eb7de31ff7bf34f1c0f96",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "ID заказа",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Заказ отменен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Заказ отменен"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Заказ уже обработан"
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "404": {
                        "description": "Заказ не найден"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/orders/{orderId}/confirm-payment": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Подтверждение оплаты заказа",
                "description": "Обновляет статус заказа на 'completed' после успешной оплаты.",
                "operationId": "263352a55c39da7585394f54416f7416",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "ID заказа, который необходимо подтвердить",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Оплата подтверждена, заказ завершен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Оплата прошла успешно, заказ завершен"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Заказ уже обработан",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Заказ уже обработан"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Заказ не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Заказ не найден"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Получить все заказы (для администратора)",
                "description": "Позволяет администратору получить все заказы.",
                "operationId": "getAllOrders",
                "responses": {
                    "200": {
                        "description": "Список заказов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 123
                                            },
                                            "user_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "address_id": {
                                                "type": "integer",
                                                "example": 10
                                            },
                                            "total_price": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 2500.75
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "pending"
                                            },
                                            "delivery": {
                                                "type": "string",
                                                "example": "express"
                                            },
                                            "payment_id": {
                                                "type": "integer",
                                                "example": 45,
                                                "nullable": true
                                            },
                                            "delivery_service_id": {
                                                "type": "integer",
                                                "example": 3,
                                                "nullable": true
                                            },
                                            "delivery_service_1c": {
                                                "type": "string",
                                                "example": "CDEK-1C-XX",
                                                "nullable": true
                                            },
                                            "pickup_point_id": {
                                                "type": "integer",
                                                "example": 5,
                                                "nullable": true
                                            },
                                            "pickup_point_1c": {
                                                "type": "string",
                                                "example": "PP-1C-001",
                                                "nullable": true
                                            },
                                            "items": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "product_id": {
                                                            "type": "integer",
                                                            "example": 101
                                                        },
                                                        "size_id": {
                                                            "type": "integer",
                                                            "example": 2
                                                        },
                                                        "quantity": {
                                                            "type": "integer",
                                                            "example": 3
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 999.990000000000009094947017729282379150390625
                                                        },
                                                        "product": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 101
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Кроссовки Adidas"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "size": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 2
                                                                },
                                                                "label": {
                                                                    "type": "string",
[...]
